header {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
}

.title {
  font-size: 60px;
  font-weight: bolder;
  color: var(--color-black);
  margin-top: 20px;
  margin-bottom: 30px;
}

mat-accordion {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  padding-bottom: 2em;
}

h1 {
  font-size: 2em;
  font-weight: normal;
  text-decoration: underline;
  text-decoration-color: #0147b1;
}

mat-expansion-panel-header {
  min-height: 100px;
  max-height: 150px;
}

mat-panel-title {
  font-size: 25px;
}

mat-expansion-panel {
  width: 50%;
}

p {
  font-size: 1.1em;
  text-align: left;
  padding-top: 0.55em;
}