.faq-site {
    max-width: 2000px;

    background-color: #ffffff;
}

header {
    display: flex;
    flex-direction: row;
  
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 60px;
    font-weight: bolder;
    color: var(--color-black);
    margin-top: 20px;
    margin-bottom: 30px;
}

mat-accordion {
    display: flex;
    flex-direction: column;
  
    align-items: center;
    justify-content: center;
}

mat-expansion-panel-header {
    min-height: 100px;
    max-height: 150px;
}

mat-panel-title {
    font-size: 25px;
}

mat-expansion-panel {
    width: 60%;
}

p {
    font-size: 20px;
}