:host {
    background-color: white;
    margin: 50px;
    padding: 20px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;

    min-width: auto;
    max-width: 50%;
}



.table {
    background-color: transparent;
}


header {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    //background-color: aquamarine;

}

.title {
    //evtl noch zu variable machen?
    font-size: 30px;
    font-weight: 500;

    margin-bottom: 10px;
    margin-left: 5%;
}

.help {

    background-color: rgba(var(--rgb-color-grey), 0.3);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    font-size: 20px;
    font-weight: 500;

    margin-bottom: 1%;
    margin-left: 1%;

}



.add-button {
    background-color: var(--keybindings-background-color);
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    color: white;

    margin-left: 30%;
    margin-right: 30%;

    //evtl noch zu variable machen?
    font-size: 24px;
}

.sort {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;

}

.sort-button {
    background-color: var(--white);
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: white;

    //margin-left: auto;

    //evtl noch zu variable machen?
    font-size: 24px;
}

.sort-button-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 10px;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
    border: none;
    background: var(--container-background-color);
    width: 30px;
    margin-top: 2.2px;
}