:host {
    background-color: white;
    margin: 50px;
    padding: 20px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;


}

.table {
    background-color: transparent;
}


header {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}

.title {
    //evtl noch zu variable machen?
    font-size: 30px;
    font-weight: 500;

    margin-bottom: 10px;
    margin-left: 5%;
}

.help {

    background-color: rgba(var(--rgb-color-grey), 0.3);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    font-size: 20px;
    font-weight: 500;

    margin-bottom: 1%;
    margin-left: 1%;

}


.table-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

}

.add-button {
    background-color: var(--keybindings-background-color);
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    color: white;

    align-self: flex-start;
    justify-self: center;
    flex: auto;
    margin-right: auto;

    //evtl noch zu variable machen?
    font-size: 24px;
}

.sort-button {
    background-color: var(--white);
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: white;

    //evtl noch zu variable machen?
    font-size: 24px;
}

.sort-button-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 10px;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
    border: none;
    background: var(--container-background-color);
    width: 30px;
    margin-top: 2.2px;
}

.interact {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
}

.text {
    align-self: center;
    justify-content: center;

    //evtl noch zu variable machen?
    font-size: 18px;
    font-weight: 500;
}

.continue-button {

    position: fixed;
    bottom: 5%;
    right: 2%;

    font-size: 30px;
    font-weight: 500;

    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    border: none;
    color: white;

    z-index: 1000;

    background-color: var(--color-main-blue);
}