/* Definiert den Stil für den mittleren Container */
.middle-container {
  width: 100%;
  height: 100vh;
  background-color: var(--container-background-color);;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}

/* Definiert den Stil für den <h1>-Text im mittleren Container */
.middle-container h1 {
  font-size: 24px;
  text-align: center;
  max-width: 100%;
}

/* Definiert den Stil für den Sound-Container */
.sound-container {
  position: relative;
bottom: -5px;
left: 0;
background-color: var(--container-background-color);
display: flex;
align-items: center;
justify-content: flex-start;
padding: 10px;
border: none;
margin-left: auto;
margin-right: auto;
}

/* Definiert den Stil für den Play-Button */
.play-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: none;
  border-radius: 20%;
  outline: none;
  cursor: pointer;
  border: none;
  background: var(--container-background-color);
}

/* Definiert den Stil für das Play-Button-Bild */
.play-button-image {
  width: 30px;
  object-fit: cover;
  border-radius: 70%;
  border: none;
  background: var(--container-background-color);
}

/* Definiert den Stil für den Sound-Button */
.sound-button-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: none;
  border-radius: 20%;
  outline: none;
  cursor: pointer;
  border: none;
  background: var(--container-background-color);
}

/* Definiert den Stil für das Sound-Button-Bild */
.button-image-1 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 70%;
  border: none;
  background: var(--container-background-color);
}

/* Definiert den Stil für den Sound-Button */
.voice-bar {
  background-image: repeating-linear-gradient(90deg, white 0%, white 2%, blue 2%, rgb(81, 75, 255) 4%, white 4%);
  width: 1000px;
  display: flex;
  height: 35px;
}

/* Definiert den Stil für das Sound-Button-Bild */
.sound-button-image {
  width: 1000px;
  height: 70px;
  object-fit: cover;
  border-radius: 30%;
}

/* Definiert den Stil für die Hover-Effekte */
.play-button-image:hover,
.button-image-1:hover {
  transform: scale(1.1);
}

/* Definiert den Stil für die rechten Abstände zwischen den Buttons */
.play-button:not(:last-child),
.sound-button-1:not(:last-child),
.sound-button:not(:last-child) {
  margin-right: 32px;
}

/* Media Queries für verschiedene Bildschirmgrößen */
@media (max-width: 800px) {
  .middle-container {
      padding: 20px;
  }

  .middle-container h1 {
      font-size: 18px;
  }

  .sound-container {
      height: auto;
      padding: 10px;
      justify-content: center;
  }

  .sound-button-image {
      width: 70%;
      max-width: 200px;
      height: auto;
  }
}
