<app-audio-handler #audioHandler></app-audio-handler>

<div class="sound-container fixed-bottom d-flex align-items-center justify-content-start">
  <div class="soundbar-button-container">
    <!-- Play Button  -->
    <button class="play-button mover" (click)="playButton()">
      <img [src]="isSvg1Active ? 'assets/play.svg' : 'assets/pause.svg'" alt="Button Image" class="button-image-1" 
      (mousedown)="isSvg1Active ? buttonImage.src='assets/playOnClick.svg' : buttonImage.src='assets/pauseOnClick.svg'" 
      (mouseup)="buttonImage.src=isSvg1Active ? 'assets/play.svg' : 'assets/pause.svg'" #buttonImage>
    </button>

    <!-- Move back Button -->
    <button class="sound-button-1 mover" (click)="skipBackwardButton()">
      <img src="assets/back.svg" alt="Button Image" class="button-image-2" 
      (mousedown)=" buttonImage2.src='assets/backOnClick.svg'"
      (mouseup)=" buttonImage2.src='assets/back.svg'" #buttonImage2>
    </button>

    <!-- Move forward Button -->
    <button class="sound-button-1 mover" (click)="skipForwardButton()">
      <img src="assets/forward.svg" alt="Button Image" class="button-image-2"
      (mousedown)=" buttonImage3.src='assets/forwardOnClick.svg'" 
      (mouseup)=" buttonImage3.src='assets/forward.svg'" #buttonImage3>
    </button>

    <!-- audiobar -->
    <div class="audio-bar mover">
      <img src="assets/audiobarBeispiel.svg" alt="Button Image">
    </div>

    <!-- speed Button -->
    <button class="sound-button-1 mover" (click)="handleButtonClick()">
      <img src="assets/speed.svg" alt="Button Image" class="button-image-1"
      (mousedown)=" buttonImage4.src='assets/speed.svg'" 
      (mouseup)=" buttonImage4.src='assets/speed.svg'" #buttonImage4>
    </button>

    <!-- sound Button -->
    <button class="sound-button-1 mover" (click)="handleButtonClick()">
      <img src="assets/sound.svg" alt="Button Image" class="button-image-1"
      (mousedown)=" buttonImage5.src='assets/soundOnClick.svg'" 
      (mouseup)=" buttonImage5.src='assets/sound.svg'" #buttonImage5>
    </button>

    <!-- settings Button -->
    <button class="sound-button-1 mover" (click)="handleButtonClick()">
      <img src="assets/settings.svg" alt="Button Image" class="button-image-1"
      (mousedown)=" buttonImage6.src='assets/settingsOnClick.svg'" 
      (mouseup)=" buttonImage6.src='assets/settings.svg'" #buttonImage6>
    </button>
  </div>
</div>

<div *ngIf="isPopupOpen" class="popup-container">
  <!-- Popup-Inhalt hier einfügen -->
</div>

