.faq-button {
  position: fixed;
  bottom: 1.5%;
  left: 1%;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid #cfdcec;
  overflow: hidden;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  color: #0147b1;
}
