#file-input {
  display: none;
}

.fs-loader-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.fs-button-spacing {
  margin-right: 10px;
}

.interact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding-top: 0.5%;
}

.text {
  align-self: center;
  justify-content: center;

  //evtl noch zu variable machen?
  font-size: 24px;
  font-weight: 500;
}

.sort-button {
  background-color: var(--white);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  color: white;
  margin-right: 10px;

  //evtl noch zu variable machen?
  font-size: 24px;
}

.sort-button-image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 4px;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
  border: none;
  background: var(--container-background-color);
  width: 30px;
  margin-top: 2.2px;
}

.white {
  width: 3%;
}