.middle-container {
  max-width: 1000px;
  overflow-y: scroll;
  overflow-x: hidden;

  //height: 95.65vh;

  min-height: 95.65%;
  max-height: 95.65%;

  margin-left: Auto;
  margin-right: Auto;
  margin-bottom: 65px;

  background-color: var(--textsheet-background-color);
}

.middle-container h1 {
  font-size: 24px;
  text-align: center;
  max-width: 100%;
}

.innerBoxes {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Handle */
::-webkit-scrollbar-track {
  background: var(--background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-grey);
  border-radius: 12px;
  width: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-grey-hoverover);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:active {
  background: var(--color-grey-onclick);
}



@media (max-width: 1800px) {
  .middle-container.isButtonPressed {
    margin-left: 100px;
  }
}

@media (max-width: 1500px) {
  .middle-container.isButtonPressed {
    margin-left: 50px;
  }
}

@media (max-width: 1500px) {
  .middle-container.isButtonPressed {
    margin-left: 20px;
  }
}


@media (max-width: 768px) {
  .middle-container {
    height: auto;
    padding: 20px;
    height: 100vh;
  }

  .middle-container h1 {
    font-size: 18px;
  }

  .middle-container.isButtonPressed {
    margin-left: 10px;
  }
}