<div class="faq-site" *ngIf="showFaq">
    <header>
        <div class="title">Subletic-FAQ</div>
    </header>
    
    <mat-accordion>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Kann das Wörterbuch nach der Festlegung weiterverwendet werden?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                Nein, das Wörterbuch dient zur Unterstützung der Worterkennung in der Audio.
            </p>
        </mat-expansion-panel>
        
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Welche Dateiformate können für das Wörterbuch importiert werden?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                Es können Json und Csv Dateien importiert werden.
            </p>
        </mat-expansion-panel>
    
        <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Ist es möglich Wörterbücher verschiedener Sprachen zu importieren?
                    </mat-panel-title>
                </mat-expansion-panel-header>
            <p>
                Nein, die Wörterbücher können nur in deutscher Sprache importiert werden.
            </p>
        </mat-expansion-panel>
        
        <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Kann man mehrere Wörterbücher hinzufügen?
                    </mat-panel-title>
                </mat-expansion-panel-header>
            <p>
                Ja, es ist möglich mehrere Wörterbücher hinzufügen.
            </p>
        </mat-expansion-panel>
        
        <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Was passiert wenn man mehrere Wörterbücher hinzufügt,
                        in welchen gleiche Wörter vorkommen?
                    </mat-panel-title>
                </mat-expansion-panel-header>
            <p>
                Wenn gleiche Wörter in verschiedenen Wörterbüchern vorkommen,
                werden diese zu einem zusammengefügt indem ihre klangähnlichen Wörter zusammengefasst werden.
            </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Lassen sich die Einträge im Worterbuch in irgendeiner Weise sortieren?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                Das gesamte Worterbuch lässt sich, durch den "A-Z Button mit ↑",
                nach Alphabet oder nach umgekehrten Alphabet sortieren.
            </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Wo kann man die Datei beim Export abspeichern?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                Wenn man der Datei einen Namen gegeben hat und sich für ein Exportformat entschieden hat
                und dieses anklickt öffnet sich der Explorer und man kann selber entscheiden wo man die Datei abspeichert.
            </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Was lässt sich mit der Konfiguration der Bufferlänge verändern?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                Die Bufferlänge legt fest wie lange die Audio im Frontend gehalten wird
                und in ihr hin und her gesprungen werden kann.
            </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Gibt es zusätzliche Hardware, die man für die Bedienung der Software verwenden kann?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                Es ist möglich einen Fuß- und einen Handschalter mit der Software zu verbinden.
            </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Muss man beim Anschließen der Hardware etwas beachten?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                Beide Schalter werden einfach über ein USB-Kabel an den eigenen Rechner angeschlossen
                und auf der Hauptseite können sie über ein Pop Fenster die erkannte Hardware verbinden.
            </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Können den einzeln Tasten der Schalter neu belegt werden?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                Nein, die einzeln Tasten haben eine vorgeschriebe Funktion und diese können nicht geändert werden .
            </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Können Audioeinstellungen angepasst werden?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                Die Lautstäke kann über den Lautsprecher angepasst werden und die Geschwindigkeit über das Tempomat.
            </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Gibt es Tastaturhotkeys für verschiedene Funktion?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                Ja, es gibt eine Hotkey Übersicht,
                welche über den Button rechts oben in der Ecke aufgerufen werden kann.
            </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Werden die Untertitel nach der Bearbeitung irgendwo abgespeichert?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                Ja, die bearbeiteten Untertitel werden als WebVTT oder SRT Datei abgespeichert.
            </p>
        </mat-expansion-panel>
    
    </mat-accordion>
</div>