<div class="faq-site" *ngIf="showFaq">
    <header>
        <div class="title">Subletic-FAQ</div>
    </header>
    
    <mat-accordion>
        
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Welche Dateiformate können für das Wörterbuch importiert werden?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                Es können Json und Csv Dateien importiert werden.
            </p>
        </mat-expansion-panel>
    
        
        <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Ist es möglich Wörterbücher verschiedener Sprachen zu importieren?
                    </mat-panel-title>
                </mat-expansion-panel-header>
            <p>
                Nein, die Wörterbücher können nur in deutscher Sprache importiert werden.
            </p>
        </mat-expansion-panel>
        
        <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Kann man mehrere Wörterbücher hinzufügen?
                    </mat-panel-title>
                </mat-expansion-panel-header>
            <p>
                Ja, es ist möglich mehrere Wörterbücher hinzufügen.
            </p>
        </mat-expansion-panel>
        

        <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Wie installiere ich Angular CLI?
                    </mat-panel-title>
                </mat-expansion-panel-header>
            <p>
                Du kannst Angular CLI mit dem Befehl "npm install -g @angular/cli" installieren.
            </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Wie installiere ich Angular CLI?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                Du kannst Angular CLI mit dem Befehl "npm install -g @angular/cli" installieren.
            </p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Wie installiere ich Angular CLI?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                Du kannst Angular CLI mit dem Befehl "npm install -g @angular/cli" installieren.
            </p>
        </mat-expansion-panel>
    
    
    
    
    </mat-accordion>
</div>