:host {
  background-color: white;
  margin: 50px;
  padding: 20px;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
}

.table {
  background-color: transparent;
}

header {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
}

.title {
  font-size: var(--font-size-dictionary-header-text);
  font-weight: 500;

  margin-bottom: 10px;

  color: var(--color-main-blue);
}

.help {
  background-color: rgba(var(--rgb-color-grey), 0.3);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  font-size: 20px;
  font-weight: 500;

  margin-bottom: 1%;
  margin-left: 1%;
}

.sort {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.sort-button {
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  color: white;

  padding-right: 3%;

  font-size: var(--font-size-dictionary-normal-text);
}

.sort-button-image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 10px;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
  border: none;
  background: var(--container-background-color);
  width: 30px;
  margin-top: 2.2px;
}

.table-action {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.add-button {
  background-color: var(--keybindings-background-color);
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  color: white;

  align-self: center;
  width: 20%;

  font-size: var(--font-size-dictionary-normal-text);
}

.over-limit {
  color: red;
}

.wordcount {
  font-size: var(--font-size-dictionary-normal-text);
}
