<div class="editor">
  <header>
    <div class="title">Dictionary Editor</div>
    <button class="help" (click)="callHelp()">?</button>
  </header>

  <app-dictionary-fs-loader></app-dictionary-fs-loader>

  <div class="sort">
    <button (click)="clearDictionary()">Clear</button>

    <button (click)="goToPreviousChange()" [disabled]="!hasPrev">Zurück</button>

    <button (click)="goToNextChange()" [disabled]="!hasNext">Vor</button>

    <button class="sort-button" (click)="sortAlphabeticallyCall()">
      <img
        [src]="alphabeticBoolean ? 'assets/Z-A.svg' : 'assets/A-Z.svg'"
        alt="Button Image"
        class="sort-button-image"
      />
    </button>
  </div>

  <div class="table">
    <div class="row-container">
      <div class="column-container">
        <div class="title-box">Benutzerdefiniertes Wort</div>
      </div>

      <div class="column-container">
        <div class="title-box">Klangähnliche Wörter</div>
      </div>
    </div>

    <div *ngFor="let vocab of dictionary.transcription_config.additional_vocab">
      <app-dictionary-row
        [rowData]="vocab"
        (deleteRow)="onDeleteRow(vocab)"
        (changedRow)="onChangedRow()"
      ></app-dictionary-row>
    </div>
  </div>

  <div class="table-action">
    <button class="add-button" (click)="addRow()">Zeile hinzufügen</button>
  </div>
</div>
