.textbox {
  background-color: white;
  width: 900px;
  height: 300px; /* Beispielhöhe */
  padding: 10px;
  font-size: 40px;
  margin: 20px;
  font-family: "Calibri", sans-serif;
  overflow-y: none;
}

.textbox p {
  user-select: text;
}
.textbox span {
  display: inline;
  user-select: none;
}
.textbox span::after {
  content: " ";
}  
  