.textbox {
  background-color: white;
  width: 900px;
  min-height: 100px; 
  max-height: 90%;
  padding: 10px; 
  font-size: 40px; 
  margin: 20px;

  font-family: "Calibri", sans-serif;
}

.textbox p {
  user-select: text;
}
.textbox span {
  display: inline;
  user-select: none;
}
.textbox span::after {
  content: " ";
}  
  