app-text-sheet {
    background-color: var(--background-color);
}

app-sound-box {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
}

.dictionaryWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}