app-text-sheet {
    background-color: var(--background-color);
}

app-sound-box {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
}

.dictionaryWrapper {
    padding-left: 15%;
    padding-right: 15%;

    @media (max-width: 992px) {
        padding-left: 0;
        padding-right: 0;
    }
}
