<div class="overlay">
  <div class="export-popup">
    <div class="top-of-div">
      <h1>Dictionary exportieren</h1>
      <button mat-icon-button style="float: right" (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="export-layout">
      <div class="subtext">Dateiname</div>

      <div id="texfield">
        <input [(ngModel)]="exportFileName" (input)="checkForSpecialCharacters()" type="text" id="fileNameInput"
          placeholder="Name festlegen (optional)" />
        <div class="error-container">
          <p id="errorText" *ngIf="checkForSpecialCharacters()">
            Keine Sonderzeichen: / \ * ? " &lt; &gt; |
          </p>
        </div>
      </div>

      <div class="subtext">Dateiformat</div>

      <div class="format-buttons">
        <button class="download-button" (click)="handleDictionaryDownloadJson()" title="Download als JSON-Format">
          <img ngSrc="../../../../../assets/export.svg" alt="Export Symbol" class="sort-button-image" height="28"
            width="28" draggable="false" />
          <span>.json</span>
        </button>

        <button class="download-button" (click)="handleDictionaryDownloadCsv()" title="Download als CSV-Format">
          <img ngSrc="../../../../../assets/export.svg" alt="Export Symbol" class="sort-button-image" height="28"
            width="28" draggable="false" />
          <span>.csv</span>
        </button>
      </div>
    </div>
  </div>
</div>