.word-column {
    background-color: var(--background-color);
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;


    //evtl noch zu variable machen?
    font-size: 24px;
}

.sounds-like-column {
    background-color: var(--background-color);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    //evtl noch zu variable machen?
    font-size: 24px;
}



.row-container {
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;


    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;

    //min-width: 30%;
    //max-width: 90%;
}

.word-column,
.sounds-like-column {
    //direction: ltr;
    padding: 10px;
}




.column-container {
    flex: 1;
    /* Gleichmäßige Aufteilung der Breite zwischen den beiden Spalten */
}

.delete-button {
    background-color: var(--color-main-blue);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 5px 10px;
    cursor: pointer;

    margin-right: 10px;

    //evtl noch zu variable machen?
    font-size: 20px;
    font-weight: 600;

}