<div class="speed-wrapper" #speedWrapper>
  <div class="speed-container">
    <button
      class="speed-button"
      (click)="emitNewSpeed(0.5)"
      [class.currentValue]="speedValue === 0.5"
    >
      0.5
    </button>
    <button
      class="speed-button"
      (click)="emitNewSpeed(0.7)"
      [class.currentValue]="speedValue === 0.7"
    >
      0.7
    </button>
    <button
      class="speed-button"
      (click)="emitNewSpeed(0.9)"
      [class.currentValue]="speedValue === 0.9"
    >
      0.9
    </button>
    <button
      class="speed-button"
      (click)="emitNewSpeed(1)"
      [class.currentValue]="speedValue === 1"
    >
      1
    </button>
    <button
      class="speed-button"
      (click)="emitNewSpeed(1.1)"
      [class.currentValue]="speedValue === 1.1"
    >
      1.1
    </button>
    <button
      class="speed-button"
      (click)="emitNewSpeed(1.3)"
      [class.currentValue]="speedValue === 1.3"
    >
      1.3
    </button>
    <button
      class="speed-button"
      (click)="emitNewSpeed(1.5)"
      [class.currentValue]="speedValue === 1.5"
    >
      1.5
    </button>
  </div>
  <div class="speed-triangle"></div>
</div>
