<div class="burgermenu">
    <div class="additionalButtons" *ngIf="showButtons">

        <button (click)="showHotkeys()" title="Tastaturkürzel anzeigen"
            (mousedown)="hotkeyImage.src = '../../../../assets/hotkey_onclick.svg'"
            (mouseup)="hotkeyImage.src = '../../../../assets/hotkey.svg'"
            (mouseleave)="hotkeyImage.src = '../../../../assets/hotkey.svg'">
            <img ngSrc="../../../../assets/hotkey.svg" alt="Tastatur Symbol" height="60" width="60" draggable="false"
                #hotkeyImage />
        </button>

        <button (click)="showFootswitch()" title="Fußschalter anzeigen"
            (mousedown)="footImage.src = '../../../../assets/footButton_onclick.svg'"
            (mouseup)="footImage.src = '../../../../assets/footButton.svg'"
            (mouseleave)="footImage.src = '../../../../assets/footButton.svg'">
            <img ngSrc="../../../../assets/footButton.svg" alt="Fuß Symbol" height="60" width="60" draggable="false"
                #footImage />
        </button>

        <button (click)="showHandswitch()" title="Handschalter anzeigen"
            (mousedown)="handImage.src = '../../../../assets/handButton_onclick.svg'"
            (mouseup)="handImage.src = '../../../../assets/handButton.svg'"
            (mouseleave)="handImage.src = '../../../../assets/handButton.svg'">
            <img ngSrc="../../../../assets/handButton.svg" alt="Hand Symbol" height="60" width="60" draggable="false"
                #handImage />
        </button>
    </div>
    <button class="menuebutton" (click)="toggleButtons()" title="Menü für Tastaturkürzel aufklappen"
        (mousedown)="menuImage.src = '../../../../assets/burgermenu_onclick.svg'"
        (mouseup)="menuImage.src = '../../../../assets/burgermenu.svg'"
        (mouseleave)="menuImage.src = '../../../../assets/burgermenu.svg'">
        <img ngSrc="../../../../assets/burgermenu.svg" alt="Burgermenü Symbol" height="60" width="60" draggable="false"
            #menuImage />
    </button>
</div>

<div class="button-overview">
    <div class="keybinding-container" *ngIf="hotkeyButtonPressed">
        <p>Audio-Wiedergabe</p>
        <div class="key-grid">
            <div class="action">Abspielen/Pausieren</div>
            <div class="key1">Ctrl</div>
            <div class="key2">Space</div>

            <div class="action">Zurückspulen</div>
            <div class="key1">Ctrl</div>
            <div class="key2">R</div>

            <div class="action">Vorspulen</div>
            <div class="key1">Ctrl</div>
            <div class="key2">&#x21B2;</div>

            <div class="action">Abspielgeschwindigkeit erhöhen</div>
            <div class="key1">Ctrl</div>
            <div class="key2">&#x25B3;</div>

            <div class="action">Abspielgeschwindigkeit senken</div>
            <div class="key1">Ctrl</div>
            <div class="key2">&#x25BD;</div>
            <div class="key3">&#x25BD;</div>

            <div class="action">Lautstärke erhöhen</div>
            <div class="key1">Ctrl</div>
            <div class="key2">]</div>

            <div class="action">Lautstärke senken</div>
            <div class="key1">Ctrl</div>
            <div class="key2">[</div>
        </div>

        <mat-divider></mat-divider>

        <p>Textbearbeitung</p>
        <div class="key-grid">
            <div class="action">Markieren</div>
            <div class="key1">Ctrl</div>
            <div class="key2">&#x25C1; / &#x25B7;</div>

            <div class="action">Löschen</div>
            <div class="key1">&#x27F5;</div>
        </div>
    </div>

    <div class="keybinding-container" *ngIf="footButtonPressed">
        <img src="assets/footswitch.svg" alt="Foot Switch Image" class="button-image-4" draggable="false"
            #footSwitchImage />

        <mat-divider></mat-divider>

        <p>Tasten</p>
        <div class="key-grid">
            <div class="switch">REW</div>
            <div class="describ">rewind (Zurückspulen)</div>

            <div class="switch">FFWD</div>
            <div class="describ">fastforward (Vorspulen)</div>

            <div class="switch">PLAY</div>
            <div class="describ">Abspielen / Pausieren</div>
        </div>

        <mat-divider></mat-divider>

        <p>Tastenkombinationen</p>
        <div class="key-grid">
            <div class="action">Abspielen (Stopp nach Loslassen)</div>
            <div class="key1">PLAY</div>
            <div class="describ">(Halten)</div>

            <div class="action">Vorspulen (Stopp nach Loslassen)</div>
            <div class="key1">FFWD</div>
            <div class="describ">(Halten)</div>

            <div class="action">Zurückspulen (Stopp nach Loslassen)</div>
            <div class="key1">REW</div>
            <div class="describ">(Halten)</div>
        </div>
    </div>
</div>

<div class="footswitch">

</div>

<div class="handswitch" *ngIf="handButtonPressed">
    <div class="keybinding-container">
        <img src="assets/handswitch.svg" alt="Foot Switch Image" class="button-image-4" draggable="false"
            #footSwitchImage />

        <mat-divider></mat-divider>

        <p>Tasten</p>
        <div class="key-grid">
            <div class="switch">L</div>
            <div class="describ">rewind (Zurückspulen)</div>

            <div class="switch">M</div>
            <div class="describ">fastforward (Vorspulen)</div>

            <div class="switch">R</div>
            <div class="describ">Abspielen / Pausieren</div>
        </div>

        <mat-divider></mat-divider>

        <p>Tastenkombinationen</p>
        <div class="key-grid">
            <div class="action">Abspielen (Stopp nach Loslassen)</div>
            <div class="key1">L</div>
            <div class="describ">(Halten)</div>

            <div class="action">Vorspulen (Stopp nach Loslassen)</div>
            <div class="key1">M</div>
            <div class="describ">(Halten)</div>

            <div class="action">Zurückspulen (Stopp nach Loslassen)</div>
            <div class="key1">R</div>
            <div class="describ">(Halten)</div>
        </div>
    </div>
</div>