/* You can add global styles to this file, and also import other style files */
/* Definiere Farbvariablen */
html,body{
  margin: 0;
  height: 100%;
  
  background-color: var(--background-color);
}
:root {
    --container-background-color: #ffffff;
    --textsheet-background-color: #ffffff;
    --background-color: #f3f3f3;
    --color-grey: #afafaf;
    --color-grey-hoverover: #A1A1A1;
    --color-grey-onclick: #838383;
  }

