<div class="settings-modal">
    <div class="settings-modal-body">
        <ng-content></ng-content>
        <div class="top-of-div">
            <h1>Einstellungen</h1>
            <button mat-icon-button style="float: right;" (click)="close();">
                <mat-icon>close</mat-icon>
            </button>
        </div>  
        
        <mat-form-field class="form-field">
            <mat-label>Sprungweite in Sekunden</mat-label>
            <input matInput type="number" placeholder="Zahl eingeben" [(ngModel)]="sprungweite" #sprungweiteInput="ngModel" min="1" required max="120" required>
            <mat-error class="mat-error" *ngIf="!sprungweiteInput.valid">Ungültiger Wert</mat-error>
        </mat-form-field>
        <div class="buttons-container">
            <button mat-stroked-button class="settings-button" [style.color]="getBackgroundColor()" (click)="apply();" [disabled]="!checkSprungweite()">Ok</button>
            <button mat-stroked-button class="settings-button" [style.color]="getBackgroundColor()" (click)="close();">Abbrechen</button>
        </div>
    </div>
</div>
<div class="settings-modal-background"></div>